@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
::after,
::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--background-color);
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c8c8;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b3b2b2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

body {
  -webkit-animation: theme 21s linear infinite;
          animation: theme 21s linear infinite;
}

body:after, body:before {
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  width: 100vmax;
  height: 100vmax;
  background: rgba(0, 0, 0, 0.025);
  -webkit-animation: background 90s linear infinite;
          animation: background 90s linear infinite;
}

body:after {
  left: 15vw;
}

body:before {
  right: 15vw;
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
  animation-direction: reverse;
}

@-webkit-keyframes theme {
  0% {
    background: #fdfdfd;
  }
  16% {
    background: #fafafa;
  }
  33% {
    background: #fdfdfd;
  }
  50% {
    background: #fafafa;
  }
  66% {
    background: #fdfdfd;
  }
  83% {
    background: #fafafa;
  }
  100% {
    background: #fdfdfd;
  }
}

@keyframes theme {
  0% {
    background: #fdfdfd;
  }
  16% {
    background: #fafafa;
  }
  33% {
    background: #fdfdfd;
  }
  50% {
    background: #fafafa;
  }
  66% {
    background: #fdfdfd;
  }
  83% {
    background: #fafafa;
  }
  100% {
    background: #fdfdfd;
  }
}

@-webkit-keyframes background {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes background {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.flip-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  color: #9505fb;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
  font-size: 54px;
  line-height: 1;
  padding: 10px;
  height: 0.68em;
  overflow: hidden;
  text-align: center;
}

.top,
.flip-card .top-flip {
  background-color: #f7f7f7;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.05);
  width: 55px;
}

.bottom,
.flip-card .bottom-flip {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.flip-card .top-flip {
  position: absolute;
  width: 100%;
  -webkit-animation: flip-top 250ms ease-in;
          animation: flip-top 250ms ease-in;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

@-webkit-keyframes flip-top {
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes flip-top {
  100% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

.flip-card .bottom-flip {
  position: absolute;
  bottom: 0;
  width: 100%;
  -webkit-animation: flip-bottom 250ms ease-out 250ms;
          animation: flip-bottom 250ms ease-out 250ms;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
}

@-webkit-keyframes flip-bottom {
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

@keyframes flip-bottom {
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.wrapper h1 {
  font-size: 7.5vh;
  text-transform: capitalize;
  margin-top: 7.5%;
  text-align: center;
}

.wrapper h1 span {
  /* Created with https://www.css-gradient.com */
  /* Created with https://www.css-gradient.com */
  background: #5214d6;
  background: -webkit-gradient(linear, right top, left top, from(#5214d6), to(#d86d5e));
  background: linear-gradient(to left, #5214d6, #d86d5e);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@media screen and (max-width: 768px) {
  .wrapper h1 {
    font-size: 2.7em;
  }
}

.img-cont {
  height: auto;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media screen and (max-width: 775px) {
  .img-cont {
    height: 150px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 5%;
  gap: 1em;
}

.container-segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.segment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.7em;
}

.segment-title {
  font-size: 24px;
  text-align: left;
  margin-bottom: 2.5%;
  font-weight: 500;
  text-transform: capitalize;
}

.ecell {
  width: 115px;
}

.ppillar {
  height: auto;
  width: 350px;
}

@media screen and (max-width: 425px) {
  .ppillar {
    width: 300px;
  }
}

.img-wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 25px;
  gap: 0 1.5em;
}
/*# sourceMappingURL=style.css.map */